In [10]:
import pandas as pd
import numpy as np

In [6]:
labels = ['a','b','c']
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
my_list =[10,20,30]
arr = np.array ([10,20,30])
d = {'a':10,'b':20,'c':30}

In [12]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [19]:
a =[ i for i in range(1,5)]
b =[ i for i in range(5,9)]
c =[i for i in range (9,13)]

In [26]:
pd.DataFrame(data=[a,b,c],
    index='a b c'.split(),
    columns='w x y z'.split())

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [29]:
pd.DataFrame(data=list(zip(a,b,c)),
    index='w x y z'.split(),
    columns='a b c'.split())

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [31]:
my_list= [[1,2,3,4],
[5,6,7,8],
[9,10,11,12]]
pd.DataFrame(my_list,
    index='a b c'.split(),
    columns='w x y z'.split())

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [32]:
pd.DataFrame(my_list,
    index='a b c'.split(),
    columns='w x y z'.split())

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [36]:
from numpy.random import randn
np.random.seed(101)

In [37]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [38]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [40]:
my_d={'a':[1,2,3,4],
'b':[5,6,7,8],
'c':[9,10,11,12]}
pd.DataFrame(my_d, index='w x y z'.split())

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12